```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.ENV.*
.venv.bak
.env.bak
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*.mo
build/
develop-eggs/
.installed.cfg
.lib/
.eggs/
.eggs/
parts/
.sdist/
.var/
.wafpickle-N/
*.egg-info/
.installed.cfg
lib/
lib64/
pypy-*
*.so
.Python
env/
.venv/
.ENV
.ENV.*
.venv.bak
.env.bak
.python-version
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.po
*.mo
build/
develop-eggs/
.installed.cfg
.lib/
.eggs/
.eggs/
parts/
.sdist/
.var/
.wafpickle-N/
*.egg-info/
.installed.cfg
lib/
lib64/
pypy-*
*.so
```